---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Policy Rule example with policy_id referred from policy resource

{{tffile "examples/resources/clumio_policy_rule/example_using_policy_resource.tf" }}

### Policy Rule example with policy_id referred from policy data source

{{tffile "examples/resources/clumio_policy_rule/example_using_policy_data_source.tf" }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}
