---
page_title: "Clumio Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# Clumio Provider

~> **Note** Please check the [migration guide](https://github.com/clumio-code/terraform-provider-clumio/blob/main/MIGRATION_GUIDE.md) when changing the version of the provider.

## Example Usage

{{tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
